*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.menu{
    text-transform: uppercase; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold; 
    font-size: 15px; 
    color: #444;
}

.divmenu{
    display: flex;
  align-items: center; 
  justify-content: space-between; 
  width: 90%; 
  margin: auto;
}
.con1{
    width: 99vw;
    height: 1000px;
    background-color: rgb(218, 236, 248);
    padding-left: 250px ;
    padding-top:10px ;
}
.imagenbowl{
    width: 680px;
    height: 680px;
}
.inicio-image{
    display: block;
    width: 60vw;
    height: 80vh;
}
.rice{
    font-size: 250px;
    font-family: 'Allura',cursive;
    font-weight: bold;
    line-height: 0.9;
    margin-bottom: 0px;
    background: linear-gradient(to bottom,#6B6ECB 0%, #4c59c4 100%);
    background-clip: text;
    letter-spacing: 15px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: absolute;
}
.contbowl{
    width: 75vw;
    display: flex;
}
.content1{
    padding-top: 150px;
    width: 40vw;
    height: 70vh;
    display: block;
    
}
.bmenu{
    margin: 20px;
    font-size: 16;
    color: white;
    background: rgb(168, 36, 40);
    width: 150px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold; 
    font-size: 15px; 
}
.ptext{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;   
    font-weight: 400; 
    
    color: #555555;
}
.bowlt{
    padding-left: 270px;
    padding-top: 210px;
    padding-bottom: 40px;
}
.contmorado{
    background-color: rgb(96, 97, 180); 
    width: 20vw;
    height: 7vh;
    border-radius: 30px;
    text-align: center;
    padding-top:15;
    color: white;
}



.con2{
    width: 99vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding-left: 260px;
    padding-top: 60px;
    display: flex;
}
.conimagen4{
    width: 20vw;
}
.con2_1{
    width: 30vw;
}
.con2_2{
    width: 50vw;
    padding: 150px 100px 0 100px;
}
.titulocon2{
    font-size: 90px;
    font-family: 'Allura', cursive;
    font-weight: bold;
    line-height: 0.9;
    background: linear-gradient(to bottom,#6B6ECB 0%, #4c59c4 100%);
    background-clip: text;
    letter-spacing: 0px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}





.con3{
    background-color: rgb(96, 97, 180); 
    width: 99vw;
    height: 100vh;
    padding-top: 40px;
}
.con3titulo{
    color: white;
    text-align: center;
}
.con3text{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;   
    font-weight: 400; 
    padding: 0 500px 0 500px;
    text-align: center;
}



.con4{
    
    width: 99vw;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.con4_1{
    width: 600px;
    padding: 200px 150px 0 80px;
    text-align: center;
}
.con4_2{
    width: 600px;
    padding: 150px 150px 0 80px;
    

}
.imagensoup{
    width: 17vw;
}
.h1_4{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;   
    font-weight: 20; 
    
    color: #555555;
    padding-bottom: 30px;

}





.con5{
    width: 99vw;
    height: 50vh;
    background-color: rgb(60, 62, 175);
    display: flex;
}
.imagen5_1{
    width: 10vw;
    
}
.con5_1{
    width: 30vw;
    padding-left: 55px;
    padding-top: 20vh;
}
.con5_2{
    width: 40vw;
    padding-top: 20vh;
    padding-left: 7vw;
}
.con5_2_1{
    background-color: white;
    width: 35vw;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}
.imagen5_2{
    width: 20vw;
}
.h1_5_2{
    color: #555555;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;   
    font-weight: 20; 
    
}

.h1_5_3{
    color: #4c59c4;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    
}
.h1_5{
    color: white;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;   
    font-weight: 20; 
}

.ptext_5{

    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;   
    font-weight: 20; 
    
}

.con6{
    width: 99vw;
    height: 48vh;
    background-color: rgb(255, 255, 255);
    
}

.img1{
    margin: 0;
    width: 240px;
}

.centromorado{
    width: 1050px;
    padding-top: 290px;
    text-align: center;
}

.titulow{
    justify-content: center;
}
.centrocalories{
display: flex;
    justify-content: center;
    align-items: center;
}

