*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
}


.con1{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(218, 236, 248);
    padding-left: 220px ;
    
}
.inicio-image{
    position: relative;
    display: block;
    width: 50vw;
    height: 80vh;
    background-color: blue;
}
.rice{
    font-size: 300px;
    font-weight: 450px;
    font-family: 'Allura', cursive;
    font-weight: bold;
    line-height: 0.9;
    margin-bottom: 0px;
    background: linear-gradient(to bottom,#6B6ECB 0%, #4c59c4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 15px;
    position: absolute;
}
.content1{
    width: 40vw;
    height: 70vh;
    background-color: aqua;
    display: block;
    
}
.ptext{
    text-decoration: none;
}
.bowlt{
    padding-left: 270px;
    padding-top: 210px;
    padding-bottom: 40px;
}
.contmorado{
    background-color: rgb(96, 97, 180); 
    width: 20vw;
    height: 5vh;
    border-radius: 30px;
    text-align: center;
    padding-top:8;
    color: white;
}

.con2{
    width: 100vw;
    height: 80vh;
    background-color: rgb(255, 255, 255);
}
.con3{
    background-color: rgb(96, 97, 180); 
    width: 100vw;
    height: 80vh;
}
.con4{
    position: relative;
    width: 100vw;
    height: 80vh;
    background-color: rgb(255, 255, 255);
}
.con5{
    width: 100vw;
    height: 40vh;
    background-color: rgb(60, 62, 175);
}
.con6{
    width: 100vw;
    height: 50vh;
    background-color: rgb(255, 255, 255);
}

.img1{
    margin: 0;

}